<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="page-header">
          <h1>アクセス</h1>
        </div>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1910.0299170422654!2d135.2774088644039!3d35.18151704724657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600015dfad23ae27%3A0xfbdab4e5b9bb1641!2z44CSNjIwLTE0MjQg5Lqs6YO95bqc56aP55-l5bGx5biC5LiJ5ZKM55S65Y-L5riV77yU77yU77yY!5e1!3m2!1sja!2sjp!4v1494040944921" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
    <div class="card centertext">
        <a>京都駅から1時間20分<br></a>
        <a>吹田から1時間20分<br></a>
        <a>丹波ICから30分<br></a>
        <a>篠山ICから25分<br></a>
        <a>福知山ICから20分<br></a>
    </div>
    <%= link_to button_tag('お問い合わせ', title:'お問い合わせ', class:"btn btn-primary"), pages_contact_url %>
    </div>
</div>