<% provide(:title, "Contact") %>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="page-header">
          <h1>お問い合わせ</h1>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="card centertext">
        <h4>お問い合わせはこちら</h4>
        <address>
            <a href="tel:09023527375">090-2352-7375</a>
        </address>
        <h5>どうぞ、ご電話ください。</h5>
    </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3">
        <%= image_tag("kazumiface.png" ,class: "rounded-circle fullSize") %>
        <a>土井一三 撮影:平成29年(2017)5月5日</a>
    </div>

</div>