<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="page-header">
          <h1>リンク</h1>
        </div>
        <h3>facebook</h3>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkazumimisakodoi&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
</div>