<% provide(:title, "Profile") %>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="page-header">
          <h1>自己紹介</h1>
    </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <a class="card centertext fontstyle">
        積年の庭づくり願望成就<br>
        植栽の庭木はほとんど自己育成仕立木<br><br>

        野菜づくりで他人自我賞賛種はトマト<br>
        1コ300~400g完熟朝採り<br>
        トロける味は絶品<br><br>

        栗：丹波栗、樹齢8年100本、2~3年樹齢含め120本
        </a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8">
        <h3>
        土井 一三
        </h3>
        <a>
        京都府生まれ 昭和16年(1941)7月16日 生<br><br>

        京都府立農業高校 卒<br>
        京都府地方公務員40年<br>
        退職後 農業・会社役員・社会福祉法人役員<br><br>

        趣味：庭づくり・釣り・野菜づくり等(トマト、スイカ、フキ、栗) 
        </a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <%= image_tag("kazumiface.png" ,class: "rounded-circle fullSize") %>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
    <%= link_to button_tag('自家栽培', title:'自家栽培', class:"btn btn-primary"), pages_works_url %>
    <%= link_to button_tag('お問い合わせ', title:'お問い合わせ', class:"btn btn-primary"), pages_contact_url %>
</div>
</div>