<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="page-header">
          <h1>美味しい自家栽培</h1>
        </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8">
        <%= image_tag("grape.png" ,class: "rounded fullSize") %>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <h3>美味しいぶどう</h3>
         <h3>ぶどう：クインニーナ・ピオーネ・高妻</h3>
         <a>収穫期：9月上旬</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="page-header">
          <h1>収穫の体験受け付けています。</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="page-header">
          <%= link_to button_tag('詳しくはこちら', title:'お問い合わせ', class:"btn btn-primary"), pages_contact_url %>
        </div>
    </div>
</div>